Source: pyvtk
Section: python
Priority: optional
Maintainer: Pierre-Elliott Bécue <becue@crans.org>
Uploaders: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all (>= 2.7),
               python-numpy,
               python-six,
               python-setuptools,
               python3-all (>= 3.2),
               python3-numpy,
               python3-six,
               python3-setuptools
Standards-Version: 3.9.8
XS-Python-Version: all
Homepage: https://github.com/pearu/pyvtk
Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/pyvtk.git
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/pyvtk.git

Package: python-pyvtk
Architecture: all
Depends: python-six,
         ${misc:Depends},
         ${python:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Module for manipulating VTK files
 PyVTK provides Python classes to read and write a VTK file and
 to create a VTK file from standard Python objects.
 Only VTK File Format version 2.0 is supported.
 Features include:
   - ascii and binary output, ascii input
   - DataSet formats:
       StructuredPoints, StructuredGrid, RectilinearGrid,
       PolyData, UnstructuredGrid
   - Data formats:
       PointData, CellData
   - DataSetAttr formats:
       Scalars, ColorScalars, LookupTable, Vectors,
       Normals, TextureCoordinates, Tensors, Field

Package: python3-pyvtk
Architecture: all
Depends: python3-six,
         ${misc:Depends},
         ${python3:Depends}
Provides: ${python3:Provides}
XB-Python-Version: ${python3:Versions}
Description: Module for manipulating VTK files - Python3 library
 PyVTK provides Python classes to read and write a VTK file and
 to create a VTK file from standard Python objects.
 Only VTK File Format version 2.0 is supported.
 Features include:
   - ascii and binary output, ascii input
   - DataSet formats:
       StructuredPoints, StructuredGrid, RectilinearGrid,
       PolyData, UnstructuredGrid
   - Data formats:
       PointData, CellData
   - DataSetAttr formats:
       Scalars, ColorScalars, LookupTable, Vectors,
       Normals, TextureCoordinates, Tensors, Field
 This is the Python3 package.
