#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PV1 = 2.3
PV2 = 2.4

p1 = python$(PV1)-pyvtk
p2 = python$(PV2)-pyvtk

d1 = debian/$(p1)
d2 = debian/$(p2)


clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	python$(PV1) setup.py clean
	python$(PV2) setup.py clean
	-find -name '*.py[co]' | xargs rm -f
	rm -f doc/pyvtk doc/*.html
	rm -f lib/test.vtk
	rm -rf build

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir

	python$(PV1) setup.py build
	python$(PV2) setup.py build

	ln -s ../lib doc/pyvtk
	cd doc && sh gen_pydoc.sh
	rm -f doc/pyvtk

	touch build-stamp


install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	python$(PV1) setup.py install --prefix=$(d1)/usr
	python$(PV2) setup.py install --prefix=$(d2)/usr

	mkdir -p debian/python-pyvtk/usr/share/doc/python-pyvtk
	cp -a doc debian/python-pyvtk/usr/share/doc/python-pyvtk/html

	-find $(d1) $(d2) -name '*.py[co]' | xargs rm -f

	: # make python scripts starting with '#!' executable
	for i in `find debian -mindepth 2 -type f ! -perm 755`; do \
	  if head -1 $$i | grep -q '^#!'; then \
	    chmod 755 $$i; \
	    echo "made executable: $$i"; \
	  fi; \
	done

	: # Replace all '#!' calls to python with /usr/bin/python2.3
	: # and make them executable
	for i in `find $(d1) -type f`; do \
	  sed '1s,#!.*python[^ ]*\(.*\),#! /usr/bin/python2.3\1,' \
		$$i > $$i.temp; \
	  if cmp --quiet $$i $$i.temp; then \
	    rm -f $$i.temp; \
	  else \
	    mv -f $$i.temp $$i; \
	    chmod 755 $$i; \
	    echo "fixed interpreter: $$i"; \
	  fi; \
	done

	: # Replace all '#!' calls to python with /usr/bin/python2.4
	: # and make them executable
	for i in `find $(d2) -type f`; do \
	  sed '1s,#!.*python[^ ]*\(.*\),#! /usr/bin/python2.4\1,' \
		$$i > $$i.temp; \
	  if cmp --quiet $$i $$i.temp; then \
	    rm -f $$i.temp; \
	  else \
	    mv -f $$i.temp $$i; \
	    chmod 755 $$i; \
	    echo "fixed interpreter: $$i"; \
	  fi; \
	done

	dh_install


# This single target is used to build all the packages, all at once, or
# one at a time. So keep in mind: any options passed to commands here will
# affect _all_ packages. Anything you want to only affect one package
# should be put in another target, such as the install target.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs BUGS.txt NEWS.txt README.txt TODO.txt
	dh_installexamples examples/*
	dh_strip
	dh_link
	dh_compress -X.py
	dh_fixperms
	dh_python
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture independant packages using the common target.
binary-indep: build install
	 $(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build install
#	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

# Any other binary targets build just one binary package at a time.
binary-%: build install
	make -f debian/rules binary-common DH_OPTIONS=-p$*

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
